<header>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light p-2">


            <a class="navbar-brand" [routerLink]="'.'">SAP (Insecure)</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item" *ngIf="authService.isLoggedInAdmin()">
                        <a class="nav-link" routerLink="/admin">Admin</a>
                    </li>
                    <li class="nav-item" *ngIf="authService.isLoggedIn()">
                        <a class="nav-link" [routerLink]="'/employee'"
                            [queryParams]="{id: authService.getLoggedInUserId()}">Employee</a>
                    </li>
                </ul>
                <ul class="navbar-nav p-2">
                    <button mat-stroked-button color="primary" style="margin-right: 10px;"
                        *ngIf="!authService.isLoggedIn()" routerLink="/signUp">Sign Up</button>
                    <button mat-stroked-button color="primary" style="margin-right: 10px;"
                        *ngIf="!authService.isLoggedIn()" routerLink="/signIn">Sign In</button>
                    <button mat-stroked-button color="primary" style="margin-right: 10px;"
                        *ngIf="authService.isLoggedIn()" (click)="logout()">Sign
                        Out</button>

                    <span class="navbar-text" *ngIf="authService.isLoggedIn()">
                        <a routerLink="/changePassword">{{authService.getLoggedInUserEmail()}}</a>
                    </span>
                </ul>
            </div>

        </nav>
    </div>
</header>