<h1>Login</h1>

<form [formGroup]="form">
    <kendo-label class="k-form" text="Email">
        <kendo-textbox [style.width.px]="200" formControlName="email" placeholder="Enter Email"
            showSuccessIcon="initial" showErrorIcon="initial"></kendo-textbox>
    </kendo-label>
    <kendo-label class="k-form" text="Password">
        <kendo-textbox [style.width.px]="200" #passwordInput="kendoTextBox" formControlName="password" placeholder="Enter Password"
            showSuccessIcon="initial" showErrorIcon="initial">
        </kendo-textbox>
    </kendo-label>   
</form>