<h1>Change Password</h1>
<app-alert-message [errorMessage]="errorMessage" (errorMessageChange)="errorMessage=undefined"
    [successMessage]="successMessage" (successMessageChange)="successMessage=undefined">
</app-alert-message>
 
<form [formGroup]="form" class="example-form" (ngSubmit)="submitForm()">
    <mat-form-field class="example-full-width">
        <mat-label>New Password</mat-label>
        <input type="password" matInput formControlName="password" placeholder="Enter New Password">
        <mat-error *ngIf="form.controls['password'].hasError('required')">
            New Password is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput formControlName="confirmPassword" placeholder="Enter Confirm Password">
        <mat-error *ngIf="form.controls['confirmPassword'].hasError('required')">
            Confirm Password is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <div class="k-form-buttons">
        <button kendoButton type="submit" class="btn btn-primary btn-block mb-4"
            [disabled]="!form.valid || form.pristine">Change password</button>
    </div>
</form>